/GatewayWebApp/.idea
/WebApplicationAPI/.idea
/WebApplicationIdentityAPI/.idea

/GatewayWebApp/src/GatewayWebApp/Logs

/GatewayWebApp/src/GatewayWebApp/obj
/GatewayWebApp/src/GatewayWebApp/bin

/GatewayWebApp/src/Infrastructure/.idea
/GatewayWebApp/src/Infrastructure/Infrastructure/bin
/GatewayWebApp/src/Infrastructure/Infrastructure/obj

/GatewayWebApp/src/JwtIdentity/.idea
/GatewayWebApp/src/JwtIdentity/JwtIdentity/bin
/GatewayWebApp/src/JwtIdentity/JwtIdentity/obj

/WebApplicationAPI/src/WebApplicationAPI/Logs

/WebApplicationAPI/.idea
/WebApplicationAPI/src/WebApplicationAPI/bin
/WebApplicationAPI/src/WebApplicationAPI/obj

/WebApplicationAPI/src/Infrastructure/.idea
/WebApplicationAPI/src/Infrastructure/bin
/WebApplicationAPI/src/Infrastructure/obj

/WebApplicationIdentityAPI/src/WebApplicationIdentityAPI/Logs

/WebApplicationIdentityAPI/.idea
/WebApplicationIdentityAPI/src/WebApplicationIdentityAPI/bin
/WebApplicationIdentityAPI/src/WebApplicationIdentityAPI/obj

/WebApplicationIdentityAPI/src/Infrastructure/.idea
/WebApplicationIdentityAPI/src/Infrastructure/Infrastructure/bin
/WebApplicationIdentityAPI/src/Infrastructure/Infrastructure/obj

/WebApplicationIdentityAPI/src/JwtIdentity/.idea
/WebApplicationIdentityAPI/src/JwtIdentity/JwtIdentity/bin
/WebApplicationIdentityAPI/src/JwtIdentity/JwtIdentity/obj